{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col=md-6">
           <img src="{{movie.img.url}}" width="300" height="300">
        </div>
        <div class="col-md-6">
          <h2> {{movie.name}}</h2>
          <h4> {{movie.desc}}</h4>
          <h6>{{movie.year}}</h6>
           <a class="btn btn-warning" href="{% url 'movieapp:update' movie.id %}" <font size="24">Update </font></a>  <br>

           <a class="btn btn-danger" href="{% url 'movieapp:delete' movie.id %}" <font size="24">Delete</font> </a> <br>
        </div>
    </div>
</div>
        {% endblock %}